/* This is an example of using Sass, otherwise plain CSS works too*/
// dark blue
$color1: hsla(224%, 40%, 22%, 1);
// blue
$color2: hsla(190%, 100%, 28%, 1);
// green
$color3: hsla(166%, 39%, 43%, 1);
// light green
$color4: hsla(131%, 26%, 79%, 1);
// yellow
$color5: hsla(50%, 69%, 72%, 1);

body {
  background-color: $color1;
}

body {
  color: $color5;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

// .tabs {
//   max-width: 538px;
// }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.tabs-nav {
  margin: 0;
  padding: 0;
}

.tabs-nav li {
  width: 50%;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: #eaeaed;
  border: 3px solid $color4;
  color: $color4;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #ff7b29;
}

.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: $color2;
  cursor: default;
}

.tab-active {
  // width: 100%;
  // background: red;
}

.tabs-stage {
  display: block;
  border: 3px solid $color4;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 20px 30px;
  position: relative;
  top: -1px;
  background: #fff;
}