body {
  background-color: #222e4f; }

header {
  display: flex;
  flex-direction: row;
  height: 140px;
  color: #e9d886; }

body {
  color: #222e4f;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none; }

.tabs-nav {
  margin: 0;
  padding: 0; }

.tabs-nav li {
  width: 50%; }

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px; }

.tabs-nav li:last-child a {
  border-top-right-radius: 6px; }

a {
  background: #eaeaed;
  border: 3px solid #bcd7c1;
  color: #bcd7c1;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none; }

a:hover {
  color: #ff7b29; }

.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #00778f;
  cursor: default; }

.error {
  color: #ff7b29;
  font-size: 18px; }

.tabs-stage {
  display: flex;
  flex-direction: row;
  border: 3px solid #bcd7c1;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 20px 30px;
  position: relative;
  top: -1px;
  background: #fff; }

#main-tab {
  margin-left: 10%; }

.main-data {
  margin-left: 12%;
  color: #222e4f;
  font-size: 18px; }

#orders-tab {
  display: flex;
  flex-direction: column; }

#search-roomservice,
#search-roomservice-btn {
  margin: 2%;
  width: 40%; }

#todays-room-service-orders,
#search-room-service-orders {
  display: flex;
  flex-direction: row; }

#roomservice-card {
  width: 177px;
  margin: 2%;
  padding: 3%;
  border: 2px solid #bcd7c1;
  border-radius: 6px; }

#customer__section--current-info {
  display: block; }

.customer__section--info {
  text-align: center;
  border: 2px solid #00778f;
  margin: 1% 1% 1% auto;
  padding: 1%;
  font-weight: 800;
  border-radius: 6px; }
